<% products.map((product)=>{ %>
<div>
    <span> <%=product.title %></span>
    <span> <%product.price %></span>

    <button type="button">Lägg till i vagn</button>
    <button type="button">Ta bort </button>
</div>
<% }) %>